body {
	margin: 0 auto;
	width: 80%;
    background-color: #89D2DC;
}

header {
	background-color: black;
	color: white;
	padding: 20px;
	border: 20px solid #101D42;
	text-align: center;
	
}

#imagenes-50{
    height: 50%;
    width: 50%;
}

nav ul {
    font-family: fantasy;
    margin: 0;
    text-align: center;
    background-color: #232ED1;
}

nav ul li {
	display: inline-flex;
    padding: 10px 30px;
    
}

nav ul li a {
    text-decoration: underline;
    color: white;
}

nav ul li a:hover {
    color: red;
}

section .par_color {
    color: brown; 
}

section {
    float: left;
    width: 64%;
    
}

section h1, h2 {
    text-align: center;
    color: #333;
}

section p {
    
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    float: right;
}

aside {
    float: right;
    width: 26%;
    font-family: fantasy;
    font-size: 14px;
}

footer {
    clear: both;
    width: 94%;
    padding: 3%;
    font-family: arial;
}

fieldset {
    background-color: #ABE1E8
}

ol {
  line-height: 50px;      
}

#imagenes-100{
    height: 100%;
    width: 100%;
}

#imagenes-120 {
    height: 120%;
    width: 120%;
}

#i-frame {
    height: 420px;
    width: 100%; 
    
}